---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";

export async function getStaticPaths() {
  let blogs = await getCollection("blog");
  blogs = blogs.filter((entry) => entry.data.published);
  return blogs.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, description, date, image, imageAlt, updated, published } =
  entry.data;

const renderedDesc = marked.parse(description);
const { Content } = await entry.render();
---

<BaseLayout frontmatter={entry.data}>
  <header>
    <p>{date}</p>
    <h1>{title}</h1>
    <div set:html={renderedDesc} />
    <hr />
  </header>
  <Content />
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
