---
import Entry from "@components/blog/Entry.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import { type Frontmatter } from "@utils/types.ts";
import { getCollection } from "astro:content";
const frontmatter = {
  title: "glog",
  description: "",
  date: new Date("2020-02-10"),
  updated: new Date("2024-09-19"),
} as Frontmatter;

let posts = await getCollection("blog", (post) => post.data.published);
posts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<BaseLayout frontmatter={frontmatter}>
  <h2>greg's glog</h2>

  <div class="hook">
    Every developer needs an abandoned blog, and this one is mine. I even did
    the thing where I crungle the word blog.
  </div>

  {
    posts.map((post, index) => {
      const href = `/blog/${post.slug}`;
      return (
        <div>
          {index !== 0 && <hr />}
          <Entry post={post} />
        </div>
      );
    })
  }
</BaseLayout>

<style>
  .hook {
    padding: var(--halfpad);
    padding-bottom: 1rem;
  }
</style>
