---
import Entry from "@components/blog/Entry.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import { type Frontmatter } from "@utils/types.ts";
import { getCollection } from "astro:content";
const frontmatter = {
  title: "glog",
  description: "",
  date: "2020-02-10",
  updated: "2024-09-19",
} as Frontmatter;

let posts = await getCollection("blog");
posts = posts.filter((post) => post.data.published);
posts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<BaseLayout frontmatter={frontmatter}>
  {
    posts.map((post, index) => {
      const href = `/blog/${post.slug}`;
      return (
        <div>
          {index !== 0 && <hr />}
          <Entry {...post.data} slug={href} collection="blog" />
        </div>
      );
    })
  }
</BaseLayout>

<style>
  div {
  }
</style>
