:root {
  font-size: 10px;
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --banner-bg: rgb(203, 213, 225);
  --site-bg: rgb(226, 232, 240);
  --main-bg: rgb(248, 250, 252);

  --soft-bd: rgb(148, 163, 184);
  --hard-bd: rgb(31, 41, 55);

  --text: rgb(15, 23, 42);

  --prim-fg: #444444;
  --prim-bg: #f2f2f2;
  --prim-ac: #555555;

  --sec-fg: #333333;
  --sec-bg: #d3d3d3;

  --url: #3366cc;
  --urlvisited: #7755bb;

  --block-mark: 4px;
  --indent: 0.5em;
}

main a {
  text-decoration: underline var(--url);
  color: var(--url);
}
main a:hover {
  text-decoration: underline dotted;
}
main a:visited {
  text-decoration: underline var(--urlvisited);
  color: var(--urlvisited);
}

@media (min-width: 300px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 450px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  /* iphones have a logical resolution exclusively below 900px wuh */
  :root {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 20px;
  }
}
@media (min-width: 1500px) {
  :root {
    font-size: 22px;
  }
}

@media (min-width: 1800px) {
  :root {
    font-size: 24px;
  }
}

@media only screen {
  :root {
    font-size: 16px;
  }
}
