:root {
  font-size: calc(10px + 0.8vw);
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  background-color: var(--site-bg);

  --tiny-font: 0.6rem;
  --small-font: 0.7rem;
  --block-mark: 4px;
  --halfpad: 0.5rem;
  --pad: 1rem;
  --squircle: 20%;
  --snap: 0.12s;
  --hover-shadow: 2px 4px 5px var(--hover);
  --edge-shadow: 0 0 2px 1px var(--edge);
  --raise-shadow: 2px 2px 0 0 var(--raise);

  --site-bg: #e2e8f0;
  --main-bg: #f8fafc;
  --block-bg: #cbd5e1;

  --text: #0f172a;
  --text-soft: #64748b;

  --border: #94a3b8;
  --border-hard: #1f2937;

  --url: #3366cc;
  --urlvisited: #7755bb;
  --highlight: #c3dbff;

  --hover: rgba(0, 0, 0, 0.25);
  --edge: rgba(0, 0, 0, 0.25);
  --raise: rgba(0, 0, 0, 0.75);
}

:root.dark {
  --site-bg: #0f172a;
  --main-bg: #1e293b;
  --block-bg: #020617;

  --text: #e5e7eb;
  --text-soft: #6d7c91;

  --border: #9ca3af;
  --border-hard: #c1c5cd;

  --url: #5599ff;
  --urlvisited: #9977dd;
  --highlight: #2c3366;

  --hover: rgba(0, 0, 0, 0.75);
  --edge: rgba(0, 0, 0, 0.75);
  --raise: rgba(255, 255, 255, 0.15);
}

/* necessary styles */

main {
  line-height: 1.5rem;
  color: var(--text);
}

/* main hr { */
/*   max-width: 100%; */
/* } */
/* main table { */
/*   max-width: 100%; */
/* } */

main p {
  margin: 0;
}

main p + p {
  margin-top: var(--pad);
}
main img {
  max-width: 100%;
}

/* preferred styles */

main a {
  text-decoration: underline var(--url);
  color: var(--url);
  border-radius: var(--block-mark);
  /* padding: 1px; */
}
main a:hover {
  text-decoration: underline dotted;
  background-color: var(--highlight);
  box-shadow: 0 0 0 2px var(--highlight);
}
main a:visited {
  text-decoration: underline var(--urlvisited);
  color: var(--urlvisited);
}

/* NOTE: i assume that nofollow links of main are external */
main a[rel="nofollow"]::after {
  /* TODO: use mingcute external link */
  content: "⤴";
}

main blockquote {
  /* color: FG2; */
  background: var(--block-bg);
  border: 1px solid var(--border-hard);
  border-left: var(--block-mark) solid var(--border);
  /* seems silly, but this pins the radius to the mark width */
  border-radius: var(--block-mark);
  box-shadow: var(--edge-shadow);

  margin: var(--pad);
  padding: var(--pad);
}

main :not(pre) code {
  font-family: monospace;
  background-color: var(--block-bg);

  border: 1px solid var(--border-hard);
  border-radius: var(--block-mark);
  padding: 1px;
}

main pre {
  font-family: monospace;
  margin: var(--halfpad);
  padding: var(--halfpad);

  border: 1px solid var(--border-hard);
  border-left: var(--block-mark) solid var(--border);
  border-radius: var(--block-mark);

  box-shadow: var(--edge-shadow);
}

@media (min-width: 2000px) {
  /* less aggressive scale for especially large displays */
  :root {
    font-size: calc(10px + 0.5vw);
  }
}

/* NOTE: I used to check either pointer: coarse or pointer: none. I stopped doing so
* because on Linux, Chromium and Google Chrome detect _no pointer_. This isn't the end
* of the world, because mobile devices almost universally report as having a coarse
* primary pointer, but it's absolutely baffling that Chrome gets something this basic
* wrong. */
@media (pointer: coarse) {
  /* bigger scale for mobile */
  :root {
    font-size: calc(10px + 1.5vw);
  }
}

/* @media (pointer: fine) { */
/*   main::before { */
/*     content: "fine"; */
/*   } */
/* } */
/**/
/* @media (pointer: coarse) { */
/*   main::before { */
/*     content: "coarse"; */
/*   } */
/* } */
/**/
/* @media (pointer: none) { */
/*   main::before { */
/*     content: "none"; */
/*   } */
/* } */
