---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import { servers } from "@data/links";

const about = await getEntry("about", "about-me");
const goofs = await getCollection("goofs");

const { Content } = await about.render();
---

<BaseLayout frontmatter={about.data}>
  <h2>{about.data.description}</h2>

  <Content />

  <!-- <h3>goofs</h3> -->
  <!-- {goofs.reverse().map((goof) => <p>{goof.body}</p>)} -->
</BaseLayout>
