---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "My Astro Blog";
const description = "The perfect starter for your perfect blog.";
const permalink = Astro?.site?.href;

// import Clock from "@components/showoff/Clock.svelte";
// import Github from "@components/showoff/GithubActivity.svelte";
// import Running from "@components/showoff/RunningRecord.svelte";
// import Discord from "@components/showoff/Discord/Discord.svelte";
// import Shield from "@components/showoff/Shield.svelte";
// import Beats from "@components/showoff/Beats.svelte";

import { servers } from "@utils/links";

import About from "@content/about/about-me.md";

const frontmatter = {
  title: "gregsite",
  description: "Welcome to gregsite.",
  date: "2023-10-01",
  updated: "2024-09-14",
};

export let discordUserID = "497549183847497739";
---

<BaseLayout frontmatter={frontmatter}>
  <About />

  <br />

  <div class="not-prose flex flex-col">
    <div class="flex flex-col md:flex-row">
      <div class="pb-2 md:pr-2">
        <!-- <Discord user_id={discordUserID} /> -->
      </div>
      <div class="flex flex-wrap md:flex-col shrink-0 md:mt-1"></div>
    </div>
  </div>
</BaseLayout>
