---
import BaseLayout from "@layouts/BaseLayout.astro";
import Date from "@components/blog/Date.astro";
import { getEntry } from "astro:content";

const now = await getEntry("now", "now");
const old = await getEntry("now", "old");

const { Content: Now } = await now.render();
const { Content: Old } = await old.render();
---

<BaseLayout frontmatter={now.data}>
  <div class="container">
    <div class="updated">
      <Date
        date={now.data.date}
        updated={now.data.updated}
        showUpdated={true}
        tooltipSide="left"
      />
    </div>

    <div class="now">
      <Now />
    </div>

    <div class="explainer">
      <a href="https://nownownow.com/about" rel="nofollow" target="_blank">
        what is this page?
      </a>
    </div>

    <details class="old">
      <summary>Older Content</summary>
      I keep track of the most recent three months at a time, and everything older
      is stashed in here.
      <Old />
    </details>
  </div>
</BaseLayout>

<style>
  .container {
    position: relative;
  }
  .updated {
    position: absolute;
    top: -1.35rem;
    right: 0;
    color: var(--text-soft);
    font-size: var(--small-font);
  }
  .explainer {
    text-align: right;
    font-size: var(--small-font);
  }
  .old {
  }
</style>
