---
import BaseLayout from "@layouts/BaseLayout.astro";
import Entry from "@components/projects/Entry.astro";

import { type Frontmatter } from "@utils/types.ts";
import { getCollection } from "astro:content";
const frontmatter = {
  title: "projects",
  description: "",
  date: new Date("2020-02-10"),
} as Frontmatter;

let projects = await getCollection(
  "projects",
  (project) => project.data.published || import.meta.env.DEV,
);
projects = projects.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<BaseLayout frontmatter={frontmatter}>
  <div>
    {
      projects.map((project, index) => {
        return (
          <div>
            {index !== 0 && <hr />}
            <Entry project={project} />
          </div>
        );
      })
    }
  </div>
</BaseLayout>
