---
import { formatDate } from "@utils/utils";
export interface Props {
  date: Date;
  updated?: Date;
  showUpdated?: boolean;
  dateText?: string;
  updatedText?: string;
}

const {
  date,
  updated,
  dateText = "Posted",
  updatedText = "Updated",
} = Astro.props;
let { showUpdated = false } = Astro.props;

if (!updated && showUpdated) {
  console.log("showUpdated is set, but there is no updated date! Unsetting.");
  showUpdated = false;
}

let shownText = dateText;
let shownDate = date;

let tooltipText = updatedText;
let tooltipDate = updated;

if (showUpdated) {
  shownDate = updated!;
  shownText = updatedText;

  tooltipText = dateText;
  tooltipDate = date;
}
---

<span class="time">
  <time
    datetime={shownDate.toISOString()}
    title={tooltipDate ? `${tooltipText} ${formatDate(tooltipDate, 6)}` : ""}
    >{shownText}
    <strong>{formatDate(shownDate, 6)}{tooltipDate ? "*" : ""}</strong></time
  >
</span>

<style>
  .time {
    color: var(--text-soft);
    font-size: var(--small-font);
  }

  .time .updated {
    margin-left: 0.5rem;
  }

  /* why can css do this nonsense */
  .time time[title]:not([title=""]):hover::after {
    content: attr(title);
    background-color: var(--block-bg);
    color: var(--text-soft);
    padding: var(--halfpad);
    box-shadow: var(--shadow);
    border: 1px solid var(--border-soft);
    border-radius: var(--block-mark);
    position: absolute;
    white-space: nowrap;
  }
</style>
