---
import type { CollectionEntry } from "astro:content";
export interface Props {
  post: CollectionEntry<"blog"> | CollectionEntry<"projects">;
}
import Header from "@components/posts/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const { post } = Astro.props;
---

<BaseLayout frontmatter={post.data}>
  <div>
    <Header post={post} />
  </div>
  <div>
    <slot />
  </div>
</BaseLayout>

<style>
  div {
  }
</style>
