---

---

<a href="https://internet-ti.me/@000" id="link" transition:persist="beats">
  <div id="beats">@000</div>
</a>
<script>
  let beattime = getBeats();
  let clock = document.getElementById("beats")! as HTMLDivElement;
  let link = document.getElementById("link")! as HTMLAnchorElement;

  function getBeats(prefix: string = "@") {
    const d = new Date();
    const h = d.getHours();
    const m = d.getMinutes();
    const s = d.getSeconds();
    const tzoff = 60 + d.getTimezoneOffset();
    const time = (
      "000" +
      (Math.floor((h * 3600 + (m + tzoff) * 60 + s) / 86.4) % 1000)
    ).slice(-3);
    return prefix + time;
  }

  const updateBeats = () => {
    beattime = getBeats();
    clock.textContent = beattime;
    link.href = `https://internet-ti.me/${beattime}`;
  };

  const interval = setInterval(() => {
    updateBeats();
  }, 1000);

  updateBeats();

  // TODO: is this necessary
  // if (import.meta.env.SSR === false) {
  //   window.addEventListener("beforeunload", () => clearInterval(interval));
  // }
</script>

<style>
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline dotted;
  }
  div {
    font-family: monospace;

    /* font-size: var(--big-font); */
    font-weight: 300;

    color: var(--text);
    background-color: var(--block-bg);

    margin: auto;
    padding: var(--block-mark);

    border: 1px solid var(--border);
    border-radius: var(--block-mark);

    margin: var(--block-mark);
  }
</style>
