---
export interface Props {
  type: "header" | "footer" | "other";
  pad?: "half" | "full";
}

const { type, pad } = Astro.props;
---

{
  type === "header" && (
    <header class=`bar ${pad}`>
      <div class="left">
        <slot name="left" />
      </div>

      <div class="center">
        <slot name="center" />
      </div>

      <div class="right">
        <slot name="right" />
      </div>
    </header>
  )
}

{
  type === "footer" && (
    <footer class=`bar ${pad}`>
      <div class="left">
        <slot name="left" />
      </div>

      <div class="center">
        <slot name="center" />
      </div>

      <div class="right">
        <slot name="right" />
      </div>
    </footer>
  )
}

{
  type === "other" && (
    <div class=`bar ${pad}`>
      <div class="left">
        <slot name="left" />
      </div>

      <div class="center">
        <slot name="center" />
      </div>

      <div class="right">
        <slot name="right" />
      </div>
    </div>
  )
}

<style>
  .bar {
    display: flex;
    max-height: 5rem;
  }

  .half {
    padding: var(--halfpad) var(--pad) var(--halfpad) var(--pad);
  }
  .full {
    padding: var(--pad);
  }

  .left {
    display: flex;
    margin: auto;
    margin-left: 0;
  }
  .center {
    display: flex;
    margin: auto;
  }
  .right {
    display: flex;
    justify-content: left;
    margin: auto;
    margin-right: 0;
  }
</style>
