---
import { Icon } from "astro-icon/components";
export interface Props {
  name: string;
  inline: boolean;
}

const { name, inline } = Astro.props;
---

<span><Icon name={name} class={inline ? "inline" : null} /></span>

<style>
  svg {
    width: 1rem;
    height: 1rem;
  }

  .inline {
    /* text alignment */
    transform: translate(0, 15%);
  }
</style>
