---
import { Image } from "astro:assets";
export interface HeaderProps {
  image: typeof Image;
  title: string;
}

const { image, title } = Astro.props as HeaderProps;

import ThemeButton from "@components/ui/ThemeButton.astro";
import Avatar from "@components/ui/Avatar.astro";
---

<header class="header">
  <div class="left">
    <Avatar image={image}>
      <slot />
    </Avatar>
  </div>
  <div class="center"></div>
  <div class="right">
    <slot />
    <ThemeButton />
  </div>
</header>

<style>
  .header {
    display: flex;
    flex-direction: row;
    max-height: 8em;
    border-bottom: 1px solid black;
  }

  .left {
    margin-right: auto;
  }
  .center {
    margin: auto;
  }
  .right {
    margin-left: auto;
  }
</style>
