---
export interface Props {
  name?: string;
  href: string;
  icon: string;
  tooltip?: string;
}

let { name, href, icon, tooltip } = Astro.props;
import { Icon } from "astro-icon/components";

const external = href[0] !== "/";
---

<div>
  <a
    href={href}
    target={external ? "_blank" : null}
    rel="dofollow"
    class={name ? name.toLowerCase() : null}
  >
    <!-- does not want to use FixedIcon due to irregular shape of fa-brands icons -->
    <Icon name={icon} />
  </a>
</div>

<style>
  div {
    padding: 0.25rem;
  }
  a {
    color: var(--text-soft);
    font-size: var(--huge-font);
    /* transition: color var(--snap) ease-in-out; */
  }

  .discord:hover {
    color: #5865f2;
  }
  .youtube:hover {
    color: #ff0000;
  }
  .telegram:hover {
    color: #0088cc;
  }
  .github:hover {
    color: #000000;
  }
  .linkedin:hover {
    color: #0077b5;
  }
  .gitlab:hover {
    color: #fc6d27;
  }
  .twitter:hover {
    color: #1da1f2;
  }

  @media (min-width: 768px) {
    a {
      font-size: inherit;
    }

</style>
