---
import type { IconLinkData } from "@utils/types.ts";
export interface Props {
  links: IconLinkData[];
}

const { links } = Astro.props;

import IconLink from "@components/ui/IconLink.astro";
---

<div>
  {links.map((link) => <IconLink {...link} />)}
</div>

<style>
  div {
    display: flex;
    justify-content: center;
  }
</style>
