---
import NavLink from "@components/ui/NavLink.astro";
import type { Link } from "@utils/types.ts";
export interface NavProps {
  links: Link[];
  intrasite?: boolean;
}

const { links, intrasite = false } = Astro.props as NavProps;
---

{
  intrasite ? (
    <nav class="nav">
      {links.map((link) => (
        <NavLink {...link} />
      ))}
    </nav>
  ) : (
    <div class="nav">
      {links.map((link) => (
        <NavLink {...link} />
      ))}
    </div>
  )
}

<style>
  .nav {
    padding-bottom: var(--pad);
  }
</style>
