---
export interface NavButtonProps {
  name: string;
  href: string;
  icon?: string;
  bclass?: string;
  tooltip?: string;
}
import FixedIcon from "@components/ui/FixedIcon.astro";

let { name, href, icon, bclass, tooltip } = Astro.props as NavButtonProps;

const currentPath = Astro.url.pathname;
// TODO: get root
const current = href === currentPath;

bclass =
  "h-8 font-bold bg-paper dark:bg-paper-dark text-major dark:text-major-dark ring-1 ring-gray-400 dark:ring-gray-950" +
  " " +
  bclass;
---

<div>
  <a href={href}>
    {icon ? <FixedIcon name={icon} /> : null}
    <span class={current ? "current" : null}>{name}</span>
  </a>
</div>

<style>
  div {
    /* TODO: color */
    /* border: 3px outset black; */
    /* border-radius: 10%; */
    padding-left: 4px;
    margin: 4px;
  }

  a {
    text-decoration: none;
    color: var(--url);
  }

  a:hover {
    text-decoration: underline dotted;
  }

  a:visited {
    color: var(--urlvisited);
  }

  .current {
    text-decoration: underline;
  }
</style>
