---
import { menuToggleId } from "@utils/consts.ts";
---

<script>
  import { menuToggleId } from "@utils/consts.ts";
  let checkbox = document.getElementById(menuToggleId)! as HTMLInputElement;
  let sidebar = document.getElementById("sidebar")! as HTMLElement;

  checkbox.addEventListener("click", () => {
    if (sidebar.classList.contains("show")) {
      sidebar.classList.remove("show");
    } else {
      sidebar.classList.add("show");
    }
  });
</script>

<input type="checkbox" id={menuToggleId} checked={false} />

<div id="sidebar" class="sidebar">
  <slot name="top" />
  <slot name="middle" />
  <slot name="bottom" />
</div>

<!-- TODO: close sidebar if user clicks anywhere but it -->

<style>
  div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    max-width: 35wh;
    transform: translateX(-100%);
    transition: transform var(--snap) ease-in-out;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg);
    padding: var(--pad);
  }

  .middle {
    margin: auto;
  }

  .show {
    transform: translateX(0);
  }

  input {
    display: none;
  }

  @media (min-width: 768px) {
    div {
      position: relative;
      transform: none;
      box-shadow: none;
      /* width: auto; */
      height: auto;
      background-color: inherit;
    }
  }
</style>
