---
import { menuToggleId } from "@utils/consts.ts";
---

<script>
  import { menuToggleId } from "@utils/consts.ts";
  let checkbox = document.getElementById(menuToggleId)! as HTMLInputElement;
  let sidebar = document.getElementById("sidebar")! as HTMLElement;

  checkbox.addEventListener("click", () => {
    console.log("clicked menu button");

    if (checkbox.checked) {
      sidebar.classList.add("show");
    } else {
      sidebar.classList.remove("show");
    }
  });
</script>

<input type="checkbox" id={menuToggleId} class="nevershow" checked={false} />

<div id="sidebar" class="sidebar">
  <slot name="top" />
  <slot name="middle" />
  <slot name="bottom" />
</div>

<style>
  div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    max-width: 35wh;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg);
    padding: 1rem;
  }

  .middle {
    margin: auto;
  }

  .show {
    transform: translateX(0);
  }

  .nevershow {
    display: none;
  }

  @media (min-width: 768px) {
    div {
      position: relative;
      transform: none;
      box-shadow: none;
      width: auto;
      height: auto;
      background-color: inherit;
    }
  }
</style>
