---
import { Icon } from "astro-icon/components";
const { id } = Astro.props;
---

<label for={id} class="whenlarge">
  <Icon name="mingcute:menu-fill" />
</label>

<style>
  .whenlarge {
    padding: var(--pad);
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  label {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 768px) {
    .whenlarge {
      display: none;
    }
  }
</style>
