---
import { menuToggleId } from "@utils/consts.ts";
---

<script>
  import { menuToggleId } from "@utils/consts.ts";
  function toggleMenu(event: Event) {
    document.getElementById("sidebar")?.classList.toggle("show");
  }
  // function closeMenuIfOutside(event: Event) {
  //   const sidebar = document.getElementById("sidebar");
  //   const menuToggle = document.getElementById(menuToggleId);
  //   if (
  //     sidebar?.classList.contains("show") &&
  //     !sidebar.contains(event.target) &&
  //     !menuToggle.contains(event.target)
  //   ) {
  //     toggleMenu();
  //   }
  // }
  function initMenuToggle() {
    document
      .getElementById(menuToggleId)
      ?.addEventListener("click", toggleMenu);
    // document.addEventListener("click", closeMenuIfOutside);
  }

  initMenuToggle();
  document.addEventListener("astro:after-swap", initMenuToggle);
</script>

<input type="checkbox" id={menuToggleId} checked={false} />

<div id="sidebar" class="sidebar">
  <slot name="top" />
  <slot name="middle" />
  <slot name="bottom" />
</div>

<style>
  div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    max-width: 35wh;
    transform: translateX(-100%);
    transition: transform var(--snap) ease-in-out;

    background-color: var(--main-bg);
    padding: var(--pad);
  }

  .middle {
    margin: auto;
  }

  .show {
    transform: translateX(0);
    box-shadow: var(--hover-shadow), var(--edge-shadow);
  }

  input {
    display: none;
  }

  @media (min-width: 768px) {
    div {
      position: relative;
      transform: none;
      box-shadow: none;
      /* width: auto; */
      height: auto;
      background-color: inherit;
    }
  }
</style>
