---
import { Icon } from "astro-icon/components";
const { id } = Astro.props;
---

<script></script>

<input type="checkbox" id={id} class="toggle-checkbox" checked="false" />

<div class="sidebar">
  <slot />
  <!-- Sidebar content will be passed here -->
</div>

<style>
  /* General styles for both large and small screens */
  .sidebar {
    background-color: #f4f4f4;
    padding: 1rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%); /* Hidden by default */
  }

  /* Sidebar visible when the checkbox is checked */
  #menutoggle:checked ~ .sidebar {
    transform: translateX(0);
  }

  /* Hide the checkbox on larger screens */
  .toggle-checkbox {
    display: none;
  }

  @media (min-width: 768px) {
    .sidebar {
      position: relative;
      transform: none;
      box-shadow: none;
    }
  }
</style>
