---
import { Icon } from "astro-icon/components";
const { id } = Astro.props;
---

<label for={id} class="whenlarge">
  <Icon name="mingcute:menu-line" />Menu
</label>

<style>
  .toggle-btn {
    padding: 1rem;
    border: none;
    cursor: pointer;
    z-index: 1100;
  }

  @media (min-width: 768px) {
    .whenlarge {
      display: none;
    }
  }
</style>
